
{
    will-change: transform;
    backface-visibility: hidden;
}


body{
    background-color: #080A0C;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
}

.main-font{
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    letter-spacing: -1px;
    font-weight: 600;
    color: green;
}

#main-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid green 1px;
}

#nav-title{
    font-size: 20px;
    margin-left: 50px;
}

.pie-chart{
    margin-left: auto;
    width: 45%;
    height: auto;
    border: green solid 1px;
}

#currency-button{
    border-radius: 9px;
    
}

#top-nav{
    display: flex;
    border-bottom: solid 1px green;
    height: 50px;
}